.banner{
    height: 450px;
    background-image: url("./ketto_child.png");
    font-size: 100px;
    display: flex;
    justify-content: flex-end;

}
.banner>div{
    width: 40%;
    padding-top: 80px;
    
}
.banner h2{
    color: rgb(78, 70, 70);
    font-size: 30px;
    font-weight: bold ;
    border: 1px solid black;
    line-height: 1.3;
    text-align: start;
}