.footer{
    height: 350px;
    background-color: #234a49;
    color: white;
    
}
.footer>div{
    width: 60%;
    margin: auto;
}
.icons{
    display: flex;
    align-items:flex-end;
    gap:5px;    
    height: 25px;
}
.parent_icon{
    display: flex;
    flex-direction: column;
    gap: 0.5rem   ;
}